<p> <!-- USE THIS AS A SAMPLE       -->
    <a href="{% url 'learning_logs:index'%}">Learning Log</a> - <!--     -->  
    <a href="{% url 'learning_logs:topics'%}">Topics</a> -
    {% if users.is_authenticated %} <!--  если юзер аутенфицировался, то мы скажем ему приветствие   -->  
        <p>Hello, {{user.username}} !</p>
            <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
        <a href="{% url 'users:register' %}">Register</a> -
        <a href="{% url 'users:login' %}">Log in</a>  <!--  Если юзера нет, то мы выводим его на другую страницу   -->  
    {% endif%}
</p>

{%block content%}{% endblock content%}